.dashboard-body {
    margin-left: 150px;
}

.dashboard-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 48px;
    font-weight: 500;
    width: 265px;
    margin-bottom: 0;
}

.name {
    margin-left: 10px;
    color: #FF0101
}

.intro {
    margin-top: -15px;
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.dashboard-content {
    display: flex;
    margin-top: 40px;
}

.graphs-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.little-graphs {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.user-wrapper {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 600px;
}